
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: Open Sans;
  font-size: 0.9em;
}

nav {
  background: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 40px;
  font-weight: bold;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

.top-left {
  float: left;
  margin-left: 10px;
}

.top-right {
  float: right;
}

.top-links {
  display: inline-block;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.clearfix {
  clear: both;
}

#header {
  /* background: rgb(32, 101, 136) url("images/city-scape.svg"); */
  background: rgb(34, 89, 122);
  background-size: cover;
  color: white;
}

#header a {
  color: white;
  text-decoration: none;
}

.sup-bar {
  padding-top: 10px;
  display: flex;
}

.npm-logo {
  margin-left: 10px;
}

.npm-logo img {
  height: 50px;
}

.finder {
  padding-left: 10px;
  width: 70%;
}

.search-form {
  height: 1.8em;
  padding: 0.4em;
  margin-right: 2em;
}

#searchbar {
  width: 100%;
  height: 100%;
  background: #20516d;
  border: 2px solid #436b84;
  padding-left: 1em;
  font-size: 0.8em;
}

.register {
  margin: auto 10px;
  display: flex;
}

#bear-logo {
  height: 40px;
  width: auto;
  margin-top: -0.5em;
  margin-left: 0.5em;
}

.container {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

.container-notflex {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.amazing-text {
  width: 60%;
}

.btn-signup {
  display: block;
  background: rgb(240, 146, 51);
  text-align: center;
  text-decoration: none;
  width: 150px;
  padding: 10px 5px;
  margin-top: 1em;
  margin-bottom: 30px;
  border-radius: 20px;
}

section {
  display: flex;
  height: 25em;
  padding: 3% 0;
}

.orgs-img {
  width: 90%;
  margin: auto;
}

.orgs-text {
  width: 100%;
  float: right;
  margin-left: 1.5em;
  margin: auto;
  margin-left: 2em;
}

#npm-orgs {
  background: rgb(39, 53, 71);
  color: white;
}

#npm-orgs ul {
  font-size: 1em;
  line-height: 2em;
}

.btn-signup-orgs {
  display: block;
  background: rgb(203, 56, 55);
  text-align: center;
  text-decoration: none;
  width: 150px;
  padding: 10px 5px;
  margin-top: 1em;
  margin-bottom: 5px;
  margin-left: 1em;
  border-radius: 20px;
}

.letters {
  margin-left: 1em;
}

#what-is-npm {
  background: url("images/forklift.svg");
  background-size: cover;
  color: white;
}

.npm-is {
  width: 35%;
}

.btn-install-npm {
  display: block;
  background: rgb(49, 68, 88);
  text-align: center;
  text-decoration: none;
  width: 130px;
  padding: 10px 5px;
  margin-top: 1em;
  margin-bottom: 5px;
  border-radius: 20px;
}

.container-notflex h2 {
  color: rgb(83, 88, 98);
}

.container-notflex p {
  color: rgb(135, 145, 156);
}

.npm-functions {
  display: flex;
  margin: 3% auto;
}

.function-block {
  width: 33%;
  margin: 0 auto;
}

.function-block p {
  width: 80%;
  color: rgb(135, 145, 156);
  margin: 0 auto;
}

.function-block a {
  color: rgb(208, 74, 73);
  text-decoration: none;
}






